.rating-content {
  position: relative;
  //text-align: left;
}

.rating-icon{
  display: inline-block;
  text-indent: -9999px;
  width: 20px;
  height: 18px;
  background-size: 20px 18px;
  background-position-y: bottom;
}
.rating-empty {
  background-image: url('/assets/heart_empty.svg');
}
.rating-full {
  background-image: url('/assets/heart_full.svg');
  margin-left: -24px;
}